@model DS.Sirius.Core.Models.Career

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<table>
   

    @foreach (var item in Model.Heroes) {

        <tr>
            <td>                        
                @Html.ActionLink(item.Name, "Hero", "Character",new { battleTag = Model.BattleTag, heroID = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>

        </tr>
}

</table>
